<h1>Tipos de transação</h1>

<div id="content">
  <div id="tabela" class="table-responsive">
    <table class="table-striped">
      <thead>
        <tr>
          <th><%= t 'negotiationtypes.id' %></th>
          <th><%= t 'negotiationtypes.description' %></th>
          <th colspan="10"></th>
        </tr>
      </thead>

      <tbody>
        <% @negotiationtypes.each do |negotiationtype| %>
          <tr>
            <td><%= negotiationtype.id %></td>
            <td><%= negotiationtype.description %></td>

            <td>
              <div class="btn-group" role="group">
                <%= link_to t('layout.view'), negotiationtype, class: 'btn btn-default btn-reponsive' %>
                <%= link_to t('layout.editing'), edit_negotiationtype_path(negotiationtype), class: 'btn btn-default btn-responsive' %>
                <%= link_to t('layout.delete'), negotiationtype, method: :delete, class: 'btn btn-danger btn-responsive', data:{confirm: 'Você tem certeza?'} %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>