<div id="content">
  <h1><%= t 'activerecord.attributes.negotiationtype.id' %>: <%= @negotiationtype.id %></h1>

  <ul>
    <li><%= t 'activerecord.attributes.negotiationtype.description' %>: <%= @negotiationtype.description %></li>
  </ul>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to 'Editar', edit_negotiationtype_path(@negotiationtype), class: 'btn btn-primary' %>
    <%= link_to 'Home', negotiationtypes_url, class: 'btn btn-primary' %>
  </div>
</div>