<%= form_for(@transaction) do |f| %>

    <% if @transaction.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <%= t 'general.form_error' %>
        </div>
    <% end %>

    <p>
      <%= f.label :product_id %>
      <%= f.text_field :product_id, class: "form-control" %>
      <%= error_tag @transaction, :product_id %>
    </p>

    <p>
      <%= f.label :transactiontype_id %>
      <%= f.text_field :transactiontype_id, class: "form-control" %>
      <%= error_tag @transaction, :transactiontype_id %>
    </p>

    <p>
      <%= f.label :amount %>
      <%= f.text_field :amount, class: "form-control" %>
      <%= error_tag @transaction, :amount %>
    </p>

    <p>
      <%= f.label :product_price %>
      <%= f.text_field :product_price, class: "form-control" %>
      <%= error_tag @transaction, :product_price %>
    </p>

    <p>
      <%= f.label :total_price %>
      <%= f.text_field :total_price, class: "form-control" %>
      <%= error_tag @transaction, :total_price %>
    </p>

    <%= f.submit class: "btn btn-default" %>
<% end %>