<div id="content">
  <h1><%= t 'activerecord.attributes.product.id' %>: <%= @product.id %></h1>
  <ul>
    <li><%= t 'activerecord.attributes.product.description' %>: <%= @product.description %></li>
    <li><%= t 'activerecord.attributes.product.product_type' %>: <%= @product.product_type %></li>
    <li><%= t 'activerecord.attributes.product.price' %>: <%= number_to_currency @product.price %></li>
  </ul>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to (t 'links.editing'), edit_product_path(@product), class: 'btn btn-primary' %>
    <%= link_to (t 'links.back'), products_url, class: 'btn btn-primary' %>
  </div>
</div>