<div id="content">
  <h1><%= t 'activerecord.attributes.negotiation.negotiationtype_id' %>: <%= @negotiation.negotiationtype.description %></h1>
  <ul>
    <li><%= t 'activerecord.attributes.product.description' %>: <%= @negotiation.product.description %></li>
    <li><%= t 'activerecord.attributes.product.product_type' %>: <%= @negotiation.product.product_type %></li>
    <li><%= t 'activerecord.attributes.negotiation.product_price' %>: <%= number_to_currency @negotiation.product_price %></li>
    <li><%= t 'activerecord.attributes.negotiation.amount' %> <%= @negotiation.amount %></li>
    <li><%= t 'activerecord.attributes.negotiation.total_price' %> <%= number_to_currency @negotiation.total_price %></li>
  </ul>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to (t 'links.editing'), edit_negotiation_path(@negotiation), class: 'btn btn-primary' %>
    <%= link_to 'Home', negotiations_path, class: 'btn btn-primary' %>
  </div>
</div>